
/* Your CSS Code here. */
div.holder{
 display: flex;
flex-direction: row-reverse;
justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	
}
.item-1{
	width: 100px;
	height: 100px;
	background-color: red;
	margin: 5px;
    font-size: 30px;
	
	
}
.item-2{
	width: 100px;
	height: 100px;
	background-color: blue;
	margin: 5px;
    font-size: 30px;	
	order: 7;
}
.item-3{
	width: 100px;
	height: 100px;
	background-color: green;
	margin: 5px;
    font-size: 30px;	
}
.item-4{
	width: 100px;
	height: 100px;
	background-color: green;
	margin: 5px;
    font-size: 30px;	
}
.item-5{
	width: 100px;
	height: 100px;
	background-color: green;
	margin: 5px;
    font-size: 30px;	
}
.item-6{
	width: 100px;
	height: 100px;
	background-color: green;
	margin: 5px;
    font-size: 30px;	
}
.item-7{
	width: 100px;
	height: 100px;
	background-color: green;
	margin: 5px;
    font-size: 30px;
/* 	order:4; */
	
}